<!DOCTYPE html>
<html lang="en">
<head>
    #CI/CD pipeline demo test
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Study Assistant</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <nav>
        <div class="nav-container">
            <a href="/" class="logo">AI Study Assistant</a>
            <div class="nav-links">
                <a href="/">Summary</a>
                <a href="/flashcards">Flashcards</a>
                <a href="/quiz">Quiz</a>
                <a href="/history">History</a>
            </div>
        </div>
    </nav>
    
    <main>
        {% block content %}{% endblock %}
    </main>
    
    
    
    <script src="../static/js/main.js"></script>
    <footer class="footer">
        <div class="footer-content">
            <p>
                <strong>Group Name:</strong> Group 2
            </p>
            <p>
                Akmal Saleem(60098173) | Tatheer Batool(60303339)
            </p>
            <p>
                INFS3203 — Winter 2026
            </p>
        </div>
    </footer>
</body>
</html>